@using BookingSystem.DataModel.Master.Resource;
@model MstIndexResVM;
@{
    ViewData["Title"] = "Master Resource";
    var columnHeads = new string[] { "Action", "Name", "Status", "Icon" };
}
<a asp-action="Upsert" class="blue-button delete-button">Add New</a>
<div class="grid-container category-index">
    <table class="table-info">
        <thead columns="@columnHeads" />
        <tbody>
            @foreach (var row in Model.list)
            {
                <tr>
                    <td>
                        <a asp-action="Upsert" asp-route-id="@row.ID"><i class="fas fa-edit"></i></a>
                        <a asp-action="Delete" asp-route-id="@row.ID"><i class="fas fa-trash-alt"></i></a>
                    </td>
                    <td>@row.Name</td>
                    <td>@row.Status</td>
                    <td>
                        @if (!string.IsNullOrEmpty(row.Icon))
                        {
                            <img src="http://localhost:5156/api/Resource/images/@row.Icon" alt="Image" />
                        }
                        else
                        {
                            <img src="path/to/default/image.jpg" alt="Default Image" />
                        }
                    </td>

                </tr>
            }
        </tbody>
        <pagination colspan="4" page="@ViewBag.CurrentPage" total-pages="1" controller="Resource" />
        @* parameters="@parameters" *@
        </table>
</div>


