@using BookingSystem.DataModel.Master.BookingCode;
@model IndexBCVM;
@{
    ViewData["Title"] = "Master Booking Code";

    var columnHeads = new string[] { "Action", "BookingCode"};
}

<a asp-action="Upsert" class="blue-button delete-button">Add New</a>
<div class="grid-container category-index">
    <table class="table-info">

        <thead columns="@columnHeads" />
        <tbody>
            @foreach (var row in Model.list)
            {
                <tr>
                    <td>
                        <a asp-action="Upsert" asp-route-id="@row.ID"><i class="fas fa-edit"></i></a>
                        <a asp-action="Delete" asp-route-id="@row.ID"><i class="fas fa-trash-alt"></i></a>
                    </td>
                    <td>@row.BookingCode</td>
                </tr>
            }
        </tbody>
        <pagination colspan="2" page="@ViewBag.CurrentPage" total-pages="1" controller="Resource" />
    </table>
</div>
